/* 
Red : #E60014
BLUE : #0066FF
YELLOW: #FFF000
Background: #F4FFFF */
/* reset */

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーheader-smtここからーーーーーーーーーーーーーー*/
.header-smt{
	position: sticky;
	top:0;
	border-bottom: 1px solid hsla(0,0%,85%,1.00);
    background-color: #fff ;
    z-index: 10;
    padding-bottom: 5px;
	padding-top: 10px;
}
.nav-top{
	box-sizing: border-box;
  	width: 100%;
  	background-color: #fff;
  	z-index: 5;
}
.logo{
    width: 45px;
    height: 30px;

    margin-left: 10px;
} 
.logo img{
	width: 100%;
	height: auto;
}
.navigation{
	position: fixed;
	top: 46px;
	right: 0;
	width: 100%; 
	height: 100%;
	padding-bottom: 60px;
	box-sizing: border-box;
	transition: transform 0.5s, opacity .2s;
	transform: translateX(100%);
	opacity: 0;  
	border-left: 1px solid rgb(207, 207, 207);
	z-index: 5;
	background:white;
}
.navigation　.nav{
	background: white;
	position: fixed;
	right: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	border-top: 1px solid rgb(207, 207, 207);
	border-left: 1px solid rgb(207, 207, 207);
	z-index: 9;
	top: -13.5px;
}
.navigation.show {
	transform: translateX(0%);
	opacity: 1;
	padding-top: -20px;
	z-index: 1;
}
body.show{
	height: 100%;
	overflow: hidden;
}
.navigation　.list {
	display: flex;
	flex-direction: column;
	cursor:initial;
	height: inherit;
	overflow: scroll;
	padding-bottom: 60px;
	box-sizing: border-box;
}
.navigation　.list li{
	position: relative;
	border-bottom: 1px solid rgb(196, 196, 196);
}
.navigation .list li i{
    position: absolute;
    right: 15px;
}
.navigation .list li a{
	padding: 15px 25px;
	color: black;   
	display: block;
}
.navigation .list li a:hover{
    background: rgb(252, 234, 210);
}
.hambuger-menu{
	cursor: pointer;
	display: block;
	padding-bottom: 0;
	position: absolute;
	top:0;
	right: 0;
}
.hamburger {
	cursor: pointer;
	position: relative;
	width: 50px;
	height: 58px;
	padding: 5px;
	z-index: 2;
	border: none;
	box-sizing: border-box;
	color: white;
	background: transparent;
	padding-top: 10px;
	background-size: cover;
}
.hamburger span {
	position: absolute;
	left: 13px;
	background: #0066FF;
	width: 28px;
	height: 3px;
	transition: transform 0.3s;
}
.hambuger-menu .top-line {
	top: 13px;
}
.hambuger-menu .center-line {
	top: 23px;
}
.hambuger-menu .bottom-line {
	top: 33px;
}
.hambuger-menu .top-line.active {
	transform: translateY(10px) rotate(135deg);
}
.hambuger-menu .center-line.active {
	opacity: 0;
}
.hambuger-menu .bottom-line.active {
	transform: translateY(-10px) rotate(-135deg);
} 
.icon-list{
	display: flex;
	margin-top: -35px;
	position: absolute;
	text-align: center;
	right: 50px;
}
.sub-icon-list a p{
	margin-right: 7px;
	font-size: 8px;
}  
.topbar{
	display: none;
} 
.top-menu{
	display: none;
}
header .arrow{
  margin-left: 5px;
}
header{
  display: none;
}
/*ーーーーーーーーーーーーーーーーーーーーーーーheader-smt ここまでーーーーーーーーーーーーーー*/

/*ーーーーーーーーーーーーーーーーーーーーーーーCONTACT ここからーーーーーーーーーーーーーー*/
.contact{
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding: 20px 15px;
	position: relative;
}
.contact::before{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: url('../images/about-banner.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.3;
}
.contact-content{
	position: relative;
	width: 100%;
	display: inherit;
	
}
.contact-title{
	color: #FFF000;
	font-size: 130%;
	font-family: ヒラギノ明朝 ProN;
}
.contact-content p{
	margin-top: 10px;
	line-height: 2em;
	font-size: 95%;
}
.contact-line{
	height: 1px;
	width: 100px;
	background: #ffff;
	display: block;
	margin: 5px auto;
}

.contact ul{
	margin: 30px auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	font-size: 15px;
	width: 100%;
	max-width: 400px;
}
.contact ul li{
	width: 100%;	
	display: flex;
	justify-content:space-between;
}

.contact ul li .mail-title{
	background-color: #E60014;
	width: 100%;
	max-width: 300px;
	padding: 10px 0;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 20px;
	border: .1px solid #CACACA;
}
.contact ul li .phone-title{
	background-color: #0066FF;
	width: 100%;
	max-width: 300px;
	padding: 10px 0;
	box-sizing: border-box;
	margin: auto;
	border: .1px solid white;
}
.contact ul li i{
	margin-right: 10px;
}  
.contact ul li a{
	color: white;
}
.contact ul li .mail-title:hover{
	background-color:hsla(355,100%,35%,1.00)
}
.contact ul li .phone-title:hover{
	background-color:#004DC0
}
.contact ul li p{
	display: none;
}
/*ーーーーーーーーーーーーーーーーーーーーーーーCONTACT ここまでーーーーーーーーーーーーーー*/

/*ーーーーーーーーーーーーーーーーーーーーーーーFOOTER ここからーーーーーーーーーーーーーー*/
footer{
	background:hsla(180,100%,98%,1.00);
	overflow: hidden;
}
.footer{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 10px;
	box-sizing: border-box;
	display: block;
} 
.follow{
	margin: auto;
	padding-top: 10px;
}
.line-follow{
	font-family: ヒラギノ明朝 ProN;
	text-align: center;
	display: block;
	white-space: nowrap;
	position: relative;
	font-weight: 600;
	font-size: 110%;
	margin: auto;
	z-index: 1;
	max-width: 300px;
}
.line-follow::after{
	display: block;
	content: "";
	width: 70px;
	height:1px ;
	background:hsla(0,0%,56%,1.00);
	position: absolute;
	top:11px;	
}
.line-follow::before{
	display: block;
	content: "";
	width: 70px;
	height:1px ;
	background:hsla(0,0%,56%,1.00);
	position: absolute;
	top:11px;
	z-index: 0;
	right: 0;
}
.social-icon{
	font-size: 30px;
	text-align: center;
	margin: auto;
	margin-top:8px;
	display: flex;
	justify-content: space-between;
	max-width: 200px;
}
.social-icon a{
	width: 17%;
}
.social-icon a:hover{
	opacity: .7;
}
.social-icon img{
	width: 100%;
	height: auto;
}
.txt-mid{
	text-align: center;
	font-size: 95%;
}
.menu-footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 500px;
	font-size: 14px;
	text-align: left;
	margin: 10px auto;
	margin-top: 25px;
}
.footer-title{
	font-family: ヒラギノ明朝 ProN;
	color: #0066FF;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
}
.menu-footer li{

}
.menu-footer p{
	margin-bottom: 2px;
}
.copy-right{
	text-align: center;
	background: black;
	color: white;
	font-size: 12px;
	padding: 10px;
}

@media screen and (min-width:768px){
	.header-smt{
		display: none;
	}
	header{
		display: block;
		position: sticky;
		top:0;
		width: 100%;
		z-index: 2;
		border-bottom: 1px solid hsla(0,0%,80%,1.00);
	}
	.logoleft{
		width: 80px;
	  }
	.logoleft img{
		width: 100%;
		height: auto;
	}
	.topbar{
		background-color: black;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	.topbar a{
		color: white;
	}
	.topbar a:hover{
		opacity: .7;
	}
	.topbarcontent{
		width: 100%;
		max-width: 1200px;
		padding: 3px 10px;
		box-sizing: border-box;
		color: #fff;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.leftbar{
		float: left;
		padding-right: 100px;
	}
	.leftbar span{
		font-size: 12px;
		padding-right: 20px;
	}
	.leftbar a:not(:first-child){
		margin-left: 10px;
	}
	.rightbar a:not(:last-child){
		margin-right: 10px;
	}
	.rightbar i{
		font-size: 20px;
	}
	.top-menu{
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		z-index: 9999;
		background-color: #fff;
		padding: 5px 0px;
		padding-bottom: 0;
	}
	.top-menu-content{
		width: 100%;
		max-width: 1200px;
		display: flex;
		justify-content:space-between;
		margin: 0 auto;
		padding: 0px 10px;
	}
	.topmenulist{
		display: flex;
		justify-content:space-between;
		padding-top: 5px;
		float: left;
		margin-left: 20px;
		margin-right: 10px;
		text-align: center;
		width: 100%;
	}
	.menu-title{
		color: #0066FF;
		font-family: Times New Roman;
	}
	.menu-title:hover{
		color: #E60014;
	}
	.topmenulist p{
		padding-top: 2px;
		position:relative;
		font-size: 14px;
		font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	}
	.top-button{
		display: none;
	} 
/*	ーーーーーーーーーーーーーーーーーーーheaderここまでーーーーーーーーーーーーーーーーー*/

/*	ーーーーーーーーーーーーーーーーーーーCONTACT ここからーーーーーーーーーーーーーーーーー*/
	.contact-title{
		color: #FFF000;
		font-size: 170%;
		padding-top: 25px;
	}
	.contact-content p{
		margin-top: 10px;
		font-size: 110%;
	}
	.contact-line{
		width: 170px;
		margin: 8px auto;
	}
  	.contact ul{
		margin: 30px auto;
		display: flex;
		justify-content:space-between;
		flex-wrap: nowrap;
		font-size: 16px;
		width: 100%;
		max-width: 850px;
	}
	.contact ul li{
		max-width: 800px;
		width: 100%;	
		display:block;
		flex-wrap: nowrap;
		padding: 20px 0;

	}
	.contact ul li i{
		 font-size: 115%;
	}
	.contact ul li.mail{
		padding-right: 50px;
	}
	.contact ul li.phone{
		padding-left: 50px;
	}
	.contact ul li .mail-title{
		display: inline-block;
		width: 100%;
		max-width: 100%;
		padding: 15px 0;
		margin-bottom: 0;
	}
	.contact ul li .phone-title{
		display: inline-block;
		max-width: 100%;
		padding: 15px 0;
	}
	.contact ul li p{
		display:block;
		width: 100%;
		max-width: 100%;
		text-align: left;
		font-size: 100%;
	}
	.mail{
		border-right: 1px solid #fff;
	}
/*	ーーーーーーーーーーーーーーーーーーーheaderここまでーーーーーーーーーーーーーーーーー*/

/*	ーーーーーーーーーーーーーーーーーーーCONTACT ここからーーーーーーーーーーーーーーーーー*/
	.footer{
		padding-top: 50px;
		
	}
	.footer .follow{
		float: right;
		width: 35%;
		padding-top: 30px;

	}
	.footer-title{
		font-size: 22px;
		padding-bottom: 10px;
	}
	.menu-footer{
		float: left;
		width: 58%;
		max-width: 800px;
		margin: 0px 0px 20px 0px;
		padding-bottom: 30px;
		font-size: 100%;
	}
	.menu-footer p{
		margin-bottom: 10px;
	}
	.copy-right{
		clear: both;
		padding: 13px;
		font-size: 14px;
	}
	.menu-footer li p a:hover{
		text-decoration: underline;
	}
}
@media screen and (min-width:991px){
	.logoleft{
		width: 130px;
		margin-top: 8px;
	  }

	.topmenulist{
		padding-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
	}
	.menu-title{
		font-size: 120%;
	}
	.topmenulist p{
		padding-top: 2px;
		font-size: 16px;
	}
	.top-button{
		display: block;
		width: 230px;
		margin-bottom: 8px;
		margin-top: 4px;
	} 
	.btn-tourorder{
		padding: 5px 5px;
		background-color: #0066FF;
		color: #fff;
		font-size: 90%;
		text-align: center;
		margin-bottom: 7px;
		box-sizing: border-box;
	}
	.btn-tourorder:hover{
		opacity: .6;
	}
	.btn-carorder{
		padding: 5px 5px;
		background-color: #E60014;
		color: #fff;
		text-align: center;
		font-size: 90%;
	}
	.btn-carorder:hover{
		opacity: .6;
	}

   .horizonline{
    width: 150px;
  } 
}
