@charset "UTF-8";
.photo-banner{
	position: relative;
}
.photo-banner .bana{
	height: 230px;
	overflow: hidden;
	background-size: cover;
	background-image:url("../images/banner/question-banner.jpg");
	background-repeat: no-repeat;
	 background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.photo-banner .bana h1{
	font-size: 230%;
	font-family: 凸版文久見出しゴシック;
	color: black;
	  -webkit-text-fill-color: white; 
	  -webkit-text-stroke-width: 1px;
	  -webkit-text-stroke-color: hsla(0,0%,29%,1.00);
	text-shadow: 1px 3px 2px hsla(0,0%,29%,1.00);
}
.photo-banner .bana span{
	background: #FFF000 ;
	padding: 5px;
	width: 200px;
	text-align: center;
	margin-top: 5px;
	border: 1px solid hsla(0,0%,45%,1.00);
	font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
}
.photo-banner:before{
	background-image:url("../images/banner/banner-bottom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	content: "";
	bottom: -21px;
	position: absolute;
	z-index: 1;
	height: 50px;
	width: 100%;
}
.photo{
	padding: 10px;
	box-sizing: border-box;
}
.photo ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
}
.photo ul li{
	width: 48%;
	margin-bottom: 10px;
}
.photo ul li img{
	width:100%;
	height: auto;
}
.question-{
	padding: 10px;
	box-sizing: border-box;
}
.question-title{
	text-align: center;
}
.question-title p{
	font-size: 120%;
	font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif"
}
.question-title p:after{
	display: block;
	content: "";
	height: 1px;
	width: 150px;
	background: #0066FF ;
	margin:7px auto;
}
.question-title span{
	font-family: 'Courgette', cursive;
	color: #E60014;
}
.question- ul{
	padding-top: 10px;
	
}
.question- ul li{
	border-bottom: 1px solid hsla(0,0%,87%,1.00);
	padding: 13px 0;
}
.question- ul li p{
	display: flex;
}
.question- ul li p:first-child{
	color: #0066FF ;
	font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	margin-bottom: 5px;
	font-size: 105%;
}
.question- ul li p span{
	margin-right: 10px;
}
.question-btn{
	margin: auto;
	text-align: center;
	box-sizing: border-box;
	margin-top: 30px;
}
.question-btn a{
	margin: 10px auto;
	border: 1px solid hsla(0,0%,84%,1.00);
	padding: 10px 20px;
	box-sizing: border-box;
	color: #E60014 ;
	font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	transition: .2s;
}
.question-btn a:hover{
	background:#E60014 ;
	color: white;
	border: 1px solid white;
}
@media Screen and (min-width:768px){
	.photo-banner .bana h1{
		font-size: 300%;
		text-shadow: 2px 4px 2px hsla(0,0%,29%,1.00);
	}
	.photo-banner .bana{
		height: 350px;
	}
	.photo{
		max-width: 1200px;
		margin: auto;
	}
	.photo ul li{
		width: 24%;
	}
	.question-title{
		position: relative;
		max-width: 1300px;
		margin: auto;
		margin-top: 20px;
	}
	.question-title p{
		font-size: 140%;
		background: white;
		width: 350px;
		margin: auto;
	}
	.question-title p:after{
		display: block;
		content: "";
		height: 1px;
		width: 100%;
		max-width: 1300px;
		position: absolute;
		top: 8px;
		left: 0;
		background: #0066FF ;
		margin:7px auto;
		z-index: -1;
	}
	.question-title span{
		font-size: 130%;
	}
	.question- ul{
		max-width: 1200px;
		margin: auto;
		padding: 10px;
		box-sizing: border-box;
	}
	.question-btn{
		margin-top: 40px;
		margin-bottom:30px;
	}
	.question-btn a{
		padding: 15px 25px;
	}

}