@charset "UTF-8";
main{
	padding: 12px;
	box-sizing: border-box;
	font-family: "Roboto", "YakuHanJP", "BaseFont-JP", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif
}
.about-top{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	font-size:75%;
	margin-top: 5px;
}
.about-top a{
	text-decoration: underline;
}
.about-top i{
	margin: 0 10px;
	color:hsla(0,0%,31%,1.00);
}
main img{
	width: 150px;
	height: auto;
	margin:20px auto;
	text-align: center;
	display: block;
}
.main-txt{
	
	box-sizing: border-box
}

.main-txt h1{
	font-weight: 600;
	text-align: center;
	margin: 10px;
}
.main-txt p{
	font-size: 14px;
	font-weight: 200;
	line-height: 1.7em;
}
.main-txt a{
	margin: 10px 0;
	display: block;
	font-size: 14px;

	text-decoration: underline;
}

@media Screen and (min-width:768px){
	main {
		width: 100%;
		max-width: 1020px;
		margin: auto;
		
		padding-bottom: 40px;
	}
	.about-top{
		font-size: 90%;
		margin-top: 10px;
	}
	.aboutus h1{
		font-size: 120%;
		margin-bottom: 50px;
		margin-top: 30px;
	}
	main img{
		width: 330px;
		height: auto;
		margin:40px auto;
		text-align: center;
		display: block;
	}
	.main-txt{
		border: 1px solid hsla(0,0%,89%,1.00);
		background: #FEFAF3;
		padding: 12px;
		text-align: center;
	}
	.main-txt h1{
		font-size: 19px;
		margin: 20px 0;
	}
	.main-txt p{
		font-size: 16px;
		line-height: 2.1em;
	}
	.main-txt a{
		font-size: 16px;
		background: #0E66B6;
		color: white;
		width: 200px;
		margin:30px auto;
		padding: 10px ;
		text-decoration: none;
	}
	.main-txt a:hover{
		opacity: .8;
	}
}